.container {
    width: 1000px;
    height: 200px;
    display: flex;
    background-color:  rgb(255, 255, 255);
}
.leftbig{
    width: 80%;
   
}
.rightbig{
    width: 20%;
    
    margin: 30 30 30 30;
}

.lefttop{
    height: 30%;
    display: flex;
}
.photo{
    margin: 10 10 10 10;
   
    border-radius: 100%;
    overflow: hidden;
}
.word{
    


}
.flexcol{
    margin-top: 10;
    display: flex;
    flex-direction: column;

}
.leftbot{
    margin-top: 10;
    margin-left:10;


}
.word3{
    font-size: large;
    font-weight: 700;

}
.word4{
    margin-top: 15;
    
}




.photo2{
   
    
    overflow: hidden;
}